@font-face {
    font-family: main;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: headers;
    src: url('../fonts/OpenSans-Bold.ttf');
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
    font-family: main;
    color: rgb(73, 73, 73);
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: headers;
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.25rem;
}


.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FCD21D;
    opacity: .9;
    z-index: 1;
}

.navbar > .navbar__list {
    float: right;
    list-style-type: none;
    margin: 0 20px 0 0;
    font-size: 0;
}

.navbar > .navbar__list > .navbar__item {
    display: inline-block;
    font-size: 1rem;
}

.navbar > .navbar__list > .navbar__item a {
    display: inline-block;
    margin: 30px 20px;
    text-decoration: none;
    color: rgb(161, 161, 161);
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.navbar > .navbar__list > .navbar__item--active a {
    color: #0a0a0a;
    
}

.navbar > .navbar__list > .navbar__item a:hover {
    color: #0a0a0a;
}

.navbar > .navbar__list > .navbar__item a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #0a0a0a;
    width: 100%;
    height: 2px;
    transform: translateY(25px);
    opacity: 0;
    transition: .3s ease;
}

.navbar > .navbar__list > .navbar__item a:hover:before {
    transform: translateY(20px);
    opacity: 1;
}

.navbar > .navbar__list > .navbar__item--active a:before {
    color: black;
    transform:translateY(20px);
    opacity:1;
    
}

.main-header > .main-header__image {
    background-image: url('../images/Imagen_Portada_AJMA_20171222_2.0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.main-header > .main-header__title-box {
    position: absolute;
    width: 95%;
    left: 0;
    top: 48%;
}

.main-header > .main-header__title-box > h1 {
    margin: 6px 0;
    text-align: right;
}

.main-header > .main-header__title-box > p {
    margin: 6px 0;
    font-size: 1.8rem;
    text-align: right;
}

.main-header {
    padding-bottom: 80px;
}

.section-header {
    text-align: center;
    text-transform: uppercase;
}

.section-header p {
    text-align: center;
    text-transform: none;
    margin-top: 30px;
}

.section-header--mod > h2 {
    text-align: center;
    text-transform: uppercase;
}

.about-me-info p {
    text-align: center;
}

.education > .education__logo img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.education > .education__title h3 {
    text-align: center;
}

.education > .education_info p {
    text-align: center
}

.contact-form {
    margin-top: 30px;
}

.contact-form form {
    width: 650px;
    margin: 0 auto;
}


.contact-form-row input {
    width: 650px;
    height: 50px;
    margin: 10px auto;
    background-color: #FCD21D;
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
    font-size: 1rem;
    color: rgb(117, 117, 117);
}

.contact-form-row textarea {
    width: 650px;
    height: 70px;
    margin: 15px auto;
    background-color: #FCD21D;
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
    font-size: 1rem;
    color: rgb(117, 117, 117);
}

.contact-form-row-radio {
    display: inline-block;
    margin-top: 15px;
}

.contact-form-row-radio input[type="radio"] {
    display: inline-block;
    margin-top: 15px;
}

.contact-form-row-radio label {
    color: rgb(117, 117, 117);
}

.contact-form-row-button {
    margin: 40px 0px;
    float: right;
}

.contact-form-row-button button[type="submit"] {
    background-color: #FCD21D;
    padding: 1rem 4rem;
    border: 2px white solid;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.main-footer {
    height: 50px;
    padding: 15px 20px;
    color: white;
    background-color: grey;

}