/* Timeline styles*/
.timeline__list h1,
.timeline__list h2,
.timeline__list h3,
.timeline__list h4,
.timeline__list h5,
.timeline__list h6 {
  line-height: inherit;
}

.timeline__list {
  line-height: 1.4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline__item {
  padding-left: 40px;
  position: relative;
}

.timeline__item:last-child {
  padding-bottom: 0;
}

.timeline__info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.timeline__content h3 {
  margin-top: 0;
}

.timeline__marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16px;
}

.timeline__marker:before {
  /* background: #FCD21D; */
  border: 3px solid #FFFFFF;
  border-radius: 100%;
  content: '';
  display: block;
  height: 13px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline__marker:after {
  content: '';
  width: 1px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 9px;
}

.timeline__item:last-child .timeline__marker:after {
  content: none;
}

.timeline__item:hover .timeline__marker:before {
  background: #FFFFFF;
  border: 3px solid transparent;
}

.timeline__content {
  padding-bottom: 40px;
}

.timeline__content p:last-child {
  margin-bottom: 0;
}

.timeline--centered,
.timeline--centered .timeline__item,
.timeline--centered .timeline__info,
.timeline--centered .timeline__marker,
.timeline--centered .timeline__content {
  display: block;
  margin: 0;
  padding: 0;
}

.timeline--centered .timeline__item {
  padding-bottom: 40px;
  overflow: hidden;
}

.timeline--centered .timeline__marker {
  position: absolute;
  left: 50%;
  margin-left: -7.5px;
}

.timeline--centered .timeline__info,
.timeline--centered .timeline__content {
  width: 50%;
}

.timeline--centered>.timeline__item:nth-child(odd) .timeline__info {
  float: left;
  text-align: right;
  padding-right: 30px;
}

.timeline--centered>.timeline__item:nth-child(odd) .timeline__content {
  float: right;
  text-align: left;
  padding-left: 30px;
}

.timeline--centered>.timeline__item:nth-child(even) .timeline__info {
  float: right;
  text-align: left;
  padding-left: 30px;
}

.timeline--centered>.timeline__item:nth-child(even) .timeline__content {
  float: left;
  text-align: right;
  padding-right: 30px;
}